@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes loading-pulse {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-loading-pulse {
  animation: loading-pulse 2s ease-in-out infinite;
}